@tailwind base;
@tailwind components;
@tailwind utilities;


.animated-gradient {
    background: linear-gradient(-45deg, #6366f1, #4f46e5, #4338ca, #3730a3, #2563eb, #1d4ed8);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}